Binaries/
DerivedDataCache/
Intermediate/
Saved/
Packages/
PlaytestResults/
/Build/Windows/FileOpenOrder/
.vs/
.idea/
.vscode/
*.sln
*.suo
ThirdParty/Quaternius/UltimateAnimatedAnimals/Source/
.codegraph/
